nav ul{
    height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #978a8a;
}
nav li{
    display: inline;
    float: left;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
nav li a:hover{
    color: #111;
}

#odin-recipes-heading{
    font-size: 32px;
    font-weight: bold;
}

summary{
    font-size: 23px;
    font-weight: bold;
}

a{
    text-decoration: none;
}